{{ define "module:purchase:page:purchase-editor" }}
<style>
    input.purchase-short {
        width: 100px;
    }
</style>
<div>
    <div class="std-box">
        <h3>Основная информация</h3>

        <table class="std-data">
            <tbody id="main-info"></tbody>
        </table>
    </div>

    <div class="std-box">
        <h3>Товары <button id="add-item" class="std">Добавить</button></h3>

        <table class="std-data">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Категория</td>
                    <td>Название</td>
                    <td>Цена</td>
                    <td>Количество</td>
                    <td>Скидка</td>
                    <td>Итого</td>
                    <td>Дата создания</td>
                    <td></td>
                </tr>
            </thead>
            <tbody id="list-item"></tbody>
        </table>
    </div>

    <div class="std-box">
        <h3>Оплата <button id="add-payment" class="std">Добавить</button></h3>

        <table class="std-data">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Способ</td>
                    <td>Итого</td>
                    <td>Дата создания</td>
                    <td></td>
                </tr>
            </thead>
            <tbody id="list-payment"></tbody>
        </table>
    </div>

    <div>
        <button id="save" class="std green">Сохранить</button>
    </div>
</div>

<script src="/js/pages/purchase/datetime.js"></script>
<script src="/js/pages/purchase/purchase.js"></script>
<script src="/js/pages/purchase/selecter.js"></script>

<script>
    window.addEventListener("load", async function () {
        let url = new URL(location.href);
        let rawID = url.searchParams.get("id");

        let purchaseData = {
            id: 0,
            created: new Date().toJSON(),
            payments: [],
            items: [],
        };

        if (rawID && rawID != "new") {
            purchaseData = await GetRequest(`/api/purchase?id=${parseInt(rawID)}`);
        }

        if (!purchaseData.items) {
            purchaseData.items = [];
        }
        if (!purchaseData.payments) {
            purchaseData.payments = [];
        }

        let cards = await GetRequest("/api/purchase/card");
        let categories = await GetRequest("/api/purchase/category");
        let orgs = await GetRequest("/api/purchase/organization");

        let cardsInfo = cards.map((element) => ({
            value: element.id,
            name: element.name,
        }));

        let categoriesInfo = categories.map((element) => ({
            value: element.id,
            name: element.name,
        }));

        let orgsInfo = orgs.map((element) => ({
            value: element.id,
            name: element.name,
        }));

        let saveNode = document.getElementById("save");
        saveNode.onclick = () => {
            if (purchaseData.id) {
                PostRequest("/api/purchase", purchaseData)
                    .then(() => {
                        window.dispatchEvent(
                            new CustomEvent("app-runtime-success", { detail: { text: "Успешно сохранена" } })
                        );
                    })
            } else {
                PostRequest("/api/purchase", purchaseData)
                    .then((id) => {
                        purchaseData.id = id;
                        window.dispatchEvent(
                            new CustomEvent("app-runtime-success", { detail: { text: "Успешно создана" } })
                        );
                    })
            }
        };

        let listItemNode = document.getElementById("list-item");
        let listPaymentNode = document.getElementById("list-payment");
        let mainInfoNode = document.getElementById("main-info");
        listItemNode.innerHTML = "";
        listPaymentNode.innerHTML = "";
        mainInfoNode.innerHTML = "";

        renderPurchase(purchaseData, orgsInfo).forEach((element) =>
            mainInfoNode.appendChild(element)
        );

        let itemRemover = (element) => () => {
            const index = purchaseData.items.indexOf(element);
            if (index == -1) return;
            purchaseData.items.splice(index, 1);
        };

        purchaseData.items.forEach((element, index) => {
            listItemNode.appendChild(
                renderItem(element, categoriesInfo, itemRemover(element))
            );
        });

        let paymentRemover = (element) => () => {
            const index = purchaseData.payments.indexOf(element);
            if (index == -1) return;
            purchaseData.payments.splice(index, 1);
        };

        purchaseData.payments.forEach((element, index) => {
            listPaymentNode.appendChild(
                renderPayment(element, cardsInfo, paymentRemover(element))
            );
        });

        let addItemNode = document.getElementById("add-item");
        addItemNode.onclick = () => {
            let newItem = {
                name: "",
                price: 0,
                amount: 0,
                sale: 0,
                total: 0,
                created: new Date().toJSON(),
            };
            purchaseData.items.push(newItem);
            listItemNode.appendChild(
                renderItem(newItem, categoriesInfo, itemRemover(newItem))
            );
        };

        let addPaymentNode = document.getElementById("add-payment");
        addPaymentNode.onclick = () => {
            let newPayment = {
                total: 0,
                created: new Date().toJSON(),
            };
            purchaseData.payments.push(newPayment);
            listPaymentNode.appendChild(
                renderPayment(newPayment, cardsInfo, paymentRemover(newPayment))
            );
        };
    });
</script>
{{ end }}