div.comment-root {
  display: flex;
  flex-direction: column;
  gap: 10px 5px;
}

img.comment-attachment {
  max-width: 100px;
  max-height: 100px;
}

span.comment-attachment-preview {
  width: 100px;
  height: 100px;
  display: inline-block;
}

img.comment-user-avatar {
  max-width: 2rem;
  max-height: 2rem;
  border-radius: 0.2rem;
}

span.comment-user-avatar-preview {
  width: 2rem;
  height: 2rem;
  display: inline-block;
}

div.comment-message-block {
  display: flex;
  flex-direction: column;
}

div.comment-message-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px 10px;
  border-bottom: 2px solid var(--color-header);
  margin-bottom: 5px;
  padding: 5px;
}

details.comment-attachment-block {
  cursor: pointer;
  padding: 10px;
}
