{{ define "module:webserver:page:modules" }}
<div class="std-box">
    <table class="std-data">
        <thead>
            <tr>
                <td>Домен</td>
                <td>Веб модуль</td>
                <td>Есть веб обработчики</td>
                <td>Есть меню</td>
                <td>Есть шаблоны</td>
            </tr>
        </thead>
        <tbody>
            {{ range $.RawData.WebModules }}
            <tr>
                <td>{{ .DomainName }}</td>
                <td>
                    {{ if .HasWebModule }}
                        {{ .Name }}
                    {{ else }}
                        <b style="color: var(--color-red);">Нет</b>
                    {{ end }}
                </td>
                <td>{{ template "module:webserver:page:modules-yes" .HasHandlers }}</td>
                <td>{{ template "module:webserver:page:modules-yes" .HasMenu }}</td>
                <td>{{ template "module:webserver:page:modules-yes" .HasTemplate }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}

{{ define "module:webserver:page:modules-yes" }}
    {{ if . }}
        <b style="color: var(--color-green);">Да</b>
    {{ else }}
        <b style="color: var(--color-red);">Нет</b>
    {{ end }}
{{ end }}