{{ define "module:auth:page:group-info-editor" }}
<style>
    div.group-details {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<form class="std-column" action="{{ $.RawData.SaveLink }}" method="POST">
    {{ with $.RawData.Group }}
    <div class="std-box group-details">
        <span>Название</span>
        <input class="std" name="name" value="{{ .Name }}" />
        <span>Описание</span>
        <textarea name="description" class="std" cols="50"
            rows="10">{{ if .Description }}{{ .Description }}{{ end }}</textarea>
        <span>Автодобавление</span>
        <label>
            <input class="std" type="checkbox" name="auto-append" {{ if .AutoAppend }}checked{{ end }} />
        </label>
        {{ if $.RawData.IsNew }}
        <input type="hidden" name="id" value="new" />
        {{ else }}
        <input type="hidden" name="id" value="{{ .ID }}" />
        <span>Создана</span>
        <b>{{ template "pretty_time" .Created }}</b>
        <span>Пользователей</span>
        <b>{{ .UserCount }}</b>
        <span>Прав</span>
        <b>{{ .PermissionCount }}</b>
        {{ end }}
    </div>
    {{ if not $.RawData.IsNew }}
    <div class="std-box std-row">
        <a class="std-fake-button" href="{{ $.RawData.PermissionsEditorLink }}">Редактировать права</a>
        <a class="std-fake-button" href="{{ $.RawData.UsersEditorLink }}">Редактировать пользователей</a>
    </div>
    {{ end }}
    <div class="std-box">
        <button class="std green" name="at" value="save-and-exit" type="submit">Сохранить</button>
        <button class="std" name="at" value="save" type="submit">Сохранить и продолжить</button>
        <button class="std red" name="at" value="reset" type="reset">Сбросить</button>
    </div>
    {{ end }}
</form>
{{ end }}