{{ define "module:file:page" }}
  {{ template "page:start" $ }}
      {{ if eq $.TemplatePageName "module:file:page:upload" }}
        {{ template "module:file:page:upload" $}}
      {{ else if eq $.TemplatePageName "module:file:page:file-list" }}
        {{ template "module:file:page:file-list" $}}
      {{ end }}
  {{ template "page:end" $ }}
{{ end }}