div.header {
  display: grid;
  grid-template-areas:
    "title user-info"
    "menu user-info";
  grid-template-columns: 1fr auto;
  background-color: var(--color-header);
  padding: 10px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 2px 6px var(--color-shadow);
  margin-bottom: 10px;
}

nav.menu {
  grid-area: menu;
}

nav.menu > a {
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  background-color: var(--color-menu-unit);
  box-shadow: 0px 0px 4px var(--color-shadow);
}

div.header-title {
  grid-area: title;
}

div.header-title > h1 {
  text-align: center;
}

div.header-user-info {
  grid-area: user-info;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-self: center;
  margin-right: 30px;
}

div.header-user-info-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.header-user-info-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

div.header-user-info-notification a {
  color: var(--color-text);
  font-family: var(--font-family);
  text-decoration: none;
  cursor: pointer;
}

div.header-user-info-notification span {
  background-color: var(--color-error-background);
  padding: 1px;
  border-radius: 30%;
  box-shadow: 0px 2px 6px var(--color-shadow);
}

div.header-user-info img.user-avatar {
  max-width: 50px;
  max-height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

div.header-user-info div.header-user-info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div.header-user-info a.user-login,
div.header-user-info a.user-logout {
  color: var(--color-text);
  font-family: var(--font-family);
  margin-top: 5px;
  text-decoration: none;
  box-sizing: border-box;
  padding: 3px;
  border-radius: 5px;
  border: none;
  font-size: small;
  text-align: center;
  background-color: var(--color-menu-unit);
}

div.header-user-info a.user-login:hover,
div.header-user-info a.user-logout:hover {
  box-shadow: 1px 2px 3px var(--color-shadow);
}
