div.pagination {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

div.pagination div.pagination-page {
  padding: 5px;
  margin-left: 5px;
  min-width: 10px;
  min-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

div.pagination div.pagination-page:first-child {
  margin-left: 0;
}

div.pagination div.pagination-page[tp="current"],
div.pagination div.pagination-page[tp="page"] {
  border: 1px solid var(--color-text);
  border-radius: 3px;
  background-color: var(--color-paginator);
  min-width: 20px;
  min-height: 20px;
}

div.pagination div.pagination-page[tp="current"] {
  background-color: var(--color-paginator-current);
  border-radius: 12px;
}

div.pagination div.pagination-page a {
  text-decoration: none;
  color: var(--color-text);
}
