#main-runtime-info {
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 900;
  place-self: center;
  padding: 20px;
}

#main-runtime-info div.info {
  background-color: var(--color-box);
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0px 2px 6px var(--color-shadow);
}

#main-runtime-info div.info[type="success"] {
  background-color: var(--color-green);
}

#main-runtime-info div.info[type="error"] {
  background-color: var(--color-error-background);
}
