.std-fake-box,
.std-box {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.std-box {
  box-shadow: 0px 0px 7px var(--color-shadow);
  background-color: var(--color-box);
}

.std-column {
  display: flex;
  flex-direction: column;
}

.std-row {
  display: flex;
  flex-direction: row;
}

select.std,
textarea.std,
input.std {
  font-family: var(--font-family);
  font-size: initial;
  padding: 5px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin: 5px;
}

textarea.std:focus-visible,
input.std:focus-visible {
  outline: none;
  box-shadow: 1px 2px 3px var(--color-shadow);
}

.std-fake-button,
input.std[type="submit"],
button.std {
  text-decoration: none;
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: initial;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--color-button-bg);
  cursor: default;
  margin: 5px;
}

.std-fake-button:hover,
input.std[type="submit"]:hover,
button.std:hover {
  box-shadow: 1px 2px 3px var(--color-shadow);
}

.std-fake-button.red,
input.std[type="submit"].red,
button.std.red {
  background-color: var(--color-red);
}

.std-fake-button.green,
input.std[type="submit"].green,
button.std.green {
  background-color: var(--color-green);
}

table.std-data {
  background-color: var(--color-table);
  border-spacing: 0;
  margin: 5px;
}

table.std-data td {
  padding: 5px;
}

table.std-data td:not(:last-child) {
  border-right: 1px solid var(--color-table-grid);
}

table.std-data > thead tr td {
  background-color: var(--color-table-header);
  border-bottom: 1px solid var(--color-table-grid);
  font-weight: bold;
}

table.std-data > tbody tr:nth-child(odd) {
  background-color: var(--color-table-line);
}

table.std-data > tbody tr:hover {
  background-color: var(--color-table-hover);
}

table.std-data > tbody tr:not(:last-child) td {
  border-bottom: 1px solid var(--color-table-grid);
}
